.optionsMessage {
    display: block;
    text-align: center;
    font-family: "Raleway";
    font-size: 20pt;
    font-weight: bold;
}

.exploreOptionsRow {
    display: flex;
    justify-content: space-evenly;
}

.schoolButton {
    background-image: url("https://cdn.pixabay.com/photo/2021/11/09/00/15/building-6780404_1280.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 30%;
    margin-bottom: 20px;

}

.cityButton {
    background-image: url("https://cdn.pixabay.com/photo/2016/09/28/02/14/apple-1699633_1280.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 30%;
    margin-bottom: 20px;
    background-color: #F7F7F7;
}

.panel {
    width: 30vw;
    text-align: center;
}

#thebigapple {
    color: #F6655A;
    font-weight: bold;
}
