.notFoundMessage {
    display: block;
    font-family: "Raleway";
    text-align: center;
}

.notFoundImage {
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.inputRow {
    display: flex;
    justify-content: space-evenly;
    font-family: "Raleway";
}

.inputBox {
    width: 20vw
}

.note {
    font-family: "Raleway";
    font-size: 10pt;
    text-align: center
}

.buttonRow {
    display: flex;
    justify-content: space-evenly;
    font-family: "Raleway";
    padding-top: 20px;
    padding-bottom: 10px;
}

.dataIsAvailable {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 50%
}

.dataIsNotAvailable {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 0px;
    width: 0px
}